In [1]:
from sklearn import tree
import pandas as pd
import os

In [4]:
df = pd.read_csv(os.path.join("./../final_project/Sample_Submission.csv"))
df.head()

    Loan_ID Loan_Status
0  LP001015           N
1  LP001022           N
2  LP001031           N
3  LP001035           N
4  LP001051           N